html {
  height: 100%;
  width: 100%;
}


html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color:#fffbad;
}

@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

#tabBar{
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.container h1{
  font-size: 3rem;
  color: #798bb3;
  margin: 10px;
  padding:15px;
  font-family: "Exo 2", sans-serif;
}

.container li{
  font-size: 1rem;;
  color: #798bb3;
  margin: 10px;
  padding:15px;
  font-family: "Montserrat", sans-serif;
}
/*card   */
.cards {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 2rem;


}



.cards h3{
  font-size: 3rem;
  font-family:"Exo 2", sans-serif;
  color: #798bb3;
}

.card__container {
  display: grid;
  row-gap: 6rem;

}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 380px;
  border-radius: 1.2rem;

}

.card__data {
  width: 280px;
  background-color:#ffffeb;
  padding: 1.5rem 2 rem;

  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity:0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: .813rem;
  margin-bottom: .25rem;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color:#adc6ff;



}

.card__title {
  font-size: 1.25rem;
  font-weight: 500;
  color:#798bb3;
  font-family: "Exo 2", sans-serif;
  margin: 20px;
  margin-bottom: .75rem;

}

.card__button {
  text-decoration: none;
  font-size: .813rem;
  font-weight: 500;
  color:#b3b179;
  margin: 20px;
  font-family: "Montserrat", sans-serif;

}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100%;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 400px;
    height: 300px;
  }
  .card__data {
    width: 250px;
    padding-inline: 2.5rem;
  }
}

.containerAccomodation{
  display: grid;
  place-items: right;

}

.containerAccomodation h2{
  font-size: 4rem;
  font-family:"Exo 2", sans-serif;
  color: #798bb3;
  margin: 10px;
}
.containerAccomodation h3{
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #798bb3;
}

.section-image{
  width: 650px;
  height: 600px;
  object-fit: cover;
  display: block;
  padding: 15px;
  margin: 10px;


}

.article-image{
  width:400px;
  height: 380px;
}

footer {
    background: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}